<!-- advantages -->
<div class="advantages" id="about">
  <div class="col-md-6 advantages-left">
    <h3>I love simple, thoughtful design.</h3>
    <h4>And cheeseburgers.</h4>
    <h4>By definition, my job is to create web</h4>
    <h4>applications.</h4>
    <h4>But what it really means is that I get to solve</h4>
    <h1>PUZZLES</h1> 
    <h4>that make technology more accessible.</h4>
  </div>
  <div class="col-md-6 advantages-right">
  </div>
      <div class="clearfix"> </div>
</div>
<!-- advantages -->

<!-- testimonials -->
<div class="testimonials">
  <div class="container">
    <h3>Testimonials</h3>
    <section class="slider">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <div class="what-top">
                  <img src="images/man.jpg" class="img-responsive" alt="" />
                  <h5>John Buch</h5>
                  <p> simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </li>
              <li>
                <div class="what-top">
                  <img src="images/women.jpg" class="img-responsive" alt="" />
                  <h5>Nickie Bella</h5>
                  <p>Lorem Ipsum has been the simply dummy text of the printing and typesetting industry.  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </li>
              <li>
                <div class="what-top">
                  <img src="images/man.jpg" class="img-responsive" alt="" />
                  <h5>John Buch</h5>
                  <p> simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </li>
              <div class="clearfix"> </div>
            </ul>
          </div>
        </section>
        <!-- FlexSlider -->
              <script defer src="js/jquery.flexslider.js"></script>
              <script type="text/javascript">
              $(function(){
                SyntaxHighlighter.all();
              });
              $(window).load(function(){
                $('.flexslider').flexslider({
                animation: "slide",
                start: function(slider){
                  $('body').removeClass('loading');
                }
                });
              });
              </script>
          <!-- FlexSlider -->
  </div>
</div>
<!-- testimonials -->